*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Style pour le header */
header {
    background-color: #333; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur du header */
     /* Alignement du texte au centre */
}
.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.auth a:hover {
    text-decoration: underline;
}

/* Style pour la bannière (image ou contenu) */
#banner {
    background-image: url(../img/banner.jpg); /* Image de fond pour la bannière */
    background-size: cover; /* Ajuster la taille de l'image pour couvrir la zone */
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px; /* Hauteur de la bannière */
}


/*Students register or not in session*/
.studentsList {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Student styling*/

/*student index.html.twig*/
.student-details{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/details.png) center center / cover no-repeat;
}

/*Student Card*/
.title-card::before{
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(../img/avatar.png) center center / cover no-repeat;
}




