*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Style pour le header */
header {
    background-color: #333; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur du header */
    text-align: center; /* Alignement du texte au centre */
}

/* Style pour la bannière (image ou contenu) */
#banner {
    background-image: url(../img/banner.jpg); /* Image de fond pour la bannière */
    background-size: cover; /* Ajuster la taille de l'image pour couvrir la zone */
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px; /* Hauteur de la bannière */
}

