{% extends 'base.html.twig' %}
{% block title %}Edit a category {% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Edit a category</h1>

        {{ form_start(formEditCategory) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(formEditCategory.name) }}
                </div>
            </div>
            
            {{ form_row(formEditCategory.Submit) }}
        {{ form_end(formEditCategory) }}
    </div>
    
{% endblock body %}