{% extends 'base.html.twig' %}
{% block title %}Add new category {% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Add new category</h1>

        {{ form_start(formAddCategory) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(formAddCategory.name) }}
                </div>
            </div>
            
            {{ form_row(formAddCategory.Submit) }}
        {{ form_end(formAddCategory) }}
    </div>
    
{% endblock body %}