{% extends 'base.html.twig' %}
{% block title %}Module details {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5">Module details</h1>
        <div class="fs-4">
            Name : <span class="text-primary"><a href="{{ path('app_module') }}">{{ module.name }}.</a></span> <br>
            Category : <span><a href="{{ path('show_category', {'id': module.category.id}) }}"> {{module.category}} </a></span> <br>
        </div>
        
    </div>
    
{% endblock body %}