{% extends 'base.html.twig' %}
{% block title %}Add new training {% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Add new training</h1>

        {{ form_start(formAddTraining) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(formAddTraining.name) }}
                </div>
            </div>
            
            {{ form_row(formAddTraining.Submit) }}
        {{ form_end(formAddTraining) }}
    </div>
    
{% endblock body %}