{% extends 'base.html.twig' %}
{% block title %}Training details {% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="m-5">Training details</h1>
        <div class="fs-4">
            Name : <span class="text-primary"><a href="{{ path('app_training')}}">{{ training.name }}.</a></span>
        </div>
        
    </div>
    
{% endblock body %}